"delete" links automatically followed

The part of the specification:

```
A HAPI must support the HTTP GET verb on all operations.
[…]
CREATE: https://api. [domain] / create / [resource_type] / with / ? [parameters]
UPDATE: https://api. [domain] / change / [resource_type] / called / [resource_id] / to / ? [parameters]
DELETE: https://api. [domain] / delete / [resource_type] / called / [resource_id]
```

is at odds with RFC 2616 §9.1.1. Consider user agents with link prefetching or Web crawlers and the resulting unintended destruction of data. How do you intend to resolve this conflict?
